.menu-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__link {
    width: 45px;
    height: 38px;
    background: url("/img/sprite-food-icon.png") 0 0 no-repeat;
    box-sizing: border-box;
    transition: border-bottom .1s, padding-bottom .1s;

    &:hover, &:focus {
      padding-bottom: 5px;
      border-bottom: 2px solid $BUDDHAGOLD;
    }

    &_dishes {
      height: 33px;
      background-position: 0 -300px;
    }

    &_soups {
      height: 43px;
      background-position: 0 -125px;
    }

    &_salads {
      height: 43px;
      background-position: 0 -247px;
    }

    &_desserts {
      height: 52px;
      background-position: 0 -182px;
    }

    &_beverages {
      height: 55px;
      background-position: 0 -55px;
    }
  }
}
