.menu-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;

  &__link {
    width: 45px;
    height: 38px;
    background: url("/img/sprite-food-icon.png") 0 0 no-repeat;
    box-sizing: border-box;
    transition: border-bottom .1s, padding-bottom .1s;

    &_dishes {
      height: 33px;
      background-position: 0 -300px;
    }

    &_soups {
      height: 43px;
      background-position: 0 -125px;
    }

    &_salads {
      height: 43px;
      background-position: 0 -247px;
    }

    &_desserts {
      height: 52px;
      background-position: 0 -182px;
    }

    &_beverages {
      height: 55px;
      background-position: 0 -55px;
    }
  }
}

.activeCategory {
  padding-bottom: 5px;
  border-bottom: 2px solid #cc9900;
}

.sorts {
  text-align: center;
  text-transform: capitalize;
  width: 285px;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto 60px;
  position: relative;
}

.sorts-info {
  height: 30px;
  border: 1px solid $BUDDHAGOLD;
  line-height: 30px;
  cursor: pointer;

  &__icon {
    position: absolute;
    top: 7px;
    right: 15px;
    color: $BUDDHAGOLD;
  }
}

.sorts-list {
  display: none;
  width: 283px;
  border: 1px solid $BUDDHAGOLD;
  background-color: $WHITE;
  border-top: none;
  position: absolute;
  left: 0;
  top: 32px;

  &__item {
    padding: 5px 0;
    cursor: pointer;

    &:hover {
      background-color: $BUDDHAGOLD;
    }
  }
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 0 10px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 30px;
  margin-right: 20px;
  overflow: hidden;

  &__img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
}

.product-info {
  width: 240px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;


  &__title {
    white-space: nowrap;
    text-transform: capitalize;
    font: 20px $YESEVAONE;
    margin-bottom: 7px;
  }

  &__text {
    margin-bottom: 7px;
  }
}


@media (max-width: 991px) {
  .product {
    width: 45%;
  }
}


@media (max-width: 575px) {
  .product {
    width: 100%;
    margin-right: 0;
  }
}

