.menu-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;

  &__link {
    width: 45px;
    height: 38px;
    background: url("/img/sprite-food-icon.png") 0 0 no-repeat;
    box-sizing: border-box;
    transition: border-bottom .1s, padding-bottom .1s;

    &:hover, &:focus {
      padding-bottom: 5px;
      border-bottom: 2px solid $BUDDHAGOLD;
    }

    &_dishes {
      height: 33px;
      background-position: 0 -300px;
    }

    &_soups {
      height: 43px;
      background-position: 0 -125px;
    }

    &_salads {
      height: 43px;
      background-position: 0 -247px;
    }

    &_desserts {
      height: 52px;
      background-position: 0 -182px;
    }

    &_beverages {
      height: 55px;
      background-position: 0 -55px;
    }
  }
}

.sorts {
  text-align: center;
  text-transform: capitalize;
  width: 285px;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto 40px;
  position: relative;
}

.sorts-info {
  height: 30px;
  border: 1px solid $BUDDHAGOLD;
  line-height: 30px;
  cursor: pointer;

  &__icon {
    position: absolute;
    top: 7px;
    right: 15px;
    color: $BUDDHAGOLD;
  }
}

.sorts-list {
  display: none;
  width: 283px;
  border: 1px solid $BUDDHAGOLD;
  border-top: none;
  position: absolute;
  left: 0;
  top: 32px;

  &__item {
    padding: 5px 0;
    cursor: pointer;

    &:hover {
      background-color: $BUDDHAGOLD;
    }
  }
}
