.header {
  width: 100%;
  background-color: rgba(0, 0, 0, .75);
  position: absolute;
  z-index: 3;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}

.main-header {
  &__logo {
    text-transform: uppercase;
    font: 36px $YESEVAONE;
    color: $ANZAC;
  }

  &__icon-menu {
    display: none;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon-cancel {
    display: none;
  }
}

.navigation-item {
  text-transform: capitalize;
  display: inline-block;
  position: relative;

  &__link {
    font: bold 21px $GENTIUM;
    color: $WHITE;
    transition: color .2s;

    &:hover, &:active {
      color: $ANZAC;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: $WHITE;
    margin: 0 15px;
    vertical-align: middle;
  }

  &:last-child::after {
    display: none;
  }
}

.inside-menu {
  display: none;
  opacity: 1;
  width: auto;
  position: absolute;
  top: -20px;
  left: -16px;
  font-family: $GENTIUM;
  font-weight: 700;
  background-color: $WHITE;
  text-align: center;
  padding: 0 10px;
  z-index: 2;

  &__title {
    text-transform: capitalize;
    font-size: 21px;
    color: $ANZAC;
    display: inline-block;
    border-bottom: 1px solid $ANZAC;
    padding: 20px 5px 10px;
    cursor: pointer;
  }

  &__link {
    display: block;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0;
    color: $BLACK;
    transition: color .2s;

    &:hover {
      color: $ANZAC;
    }
  }
}

.search {
  display: flex;
  align-self: center;
  border-bottom: 2px solid $ANZAC;
  font: 18px $LATO;
  padding-bottom: 4px;

  &__input {
    width: 145px;
    background-color: transparent;
    font: 18px $LATO;
    color: $ANZAC;
    border: none;
    overflow: hidden;

    &::placeholder {
      color: $ANZAC;
    }

    &:focus {
      outline: none;
    }
  }
}

.search-button {
  background-color: transparent;
  border: none;

  &__icon {
    display: inline-block;
    font-size: 20px;
    color: $ANZAC;
    transition: color .2s;

    &:hover {
      color: $WHITE;
    }
  }

  &:focus {
    outline: none;
  }
}


@media (max-width: 991px) and (min-width: 768px) {

  .header-wrap {
    flex-direction: column;
    align-items: center;
  }

  .navigation {
    margin: 30px auto;
  }
}


@media (max-width: 767px) {

  .header {
    position: static;
    z-index: 0;
  }

  .header-wrap {
    flex-direction: column;
  }

  .main-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    &__icon-menu {
      display: inline-block;
      font-size: 30px;
      color: $ANZAC;
    }
  }

  .navigation {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    background-color: $BLACK;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;

    &__icon-cancel {
      display: inline-block;
      color: $ANZAC;
      font-size: 30px;
      margin: 40px 40px 30px 0;
    }
  }

  .navigation-item {
    margin: 10px 40px 10px 0;

    &::after {
      display: none;
    }
  }

  .inside-menu {
    display: none;
    text-align: right;
    position: static;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: 0;

    &__title {
      display: none;
    }

    &__link {
      color: $DUSTYGRAY;
      display: block;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: $DUSTYGRAY;
      }
    }
  }
}
