@font-face {
  font-family: 'Gentium Book Basic';
  src: url('/fonts/gentiumBookBasic/gentiumBookBasic.eot');
  src: url('/fonts/gentiumBookBasic/gentiumBookBasic.eot?iefix') format('eot'),
  url('/fonts/gentiumBookBasic/gentiumBookBasic.woff') format('woff'),
  url('/fonts/gentiumBookBasic/gentiumBookBasic.ttf') format('truetype'),
  url('/fonts/gentiumBookBasic/gentiumBookBasic.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/lato/lato-regular.eot');
  src: url('/fonts/lato/lato-regular.eot?iefix') format('eot'),
  url('/fonts/lato/lato-regular.woff') format('woff'),
  url('/fonts/lato/lato-regular.ttf') format('truetype'),
  url('/fonts/lato/lato-regular.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/openSans/openSans-regular.eot');
  src: url('/fonts/openSans/openSans-regular.eot?iefix') format('eot'),
  url('/fonts/openSans/openSans-regular.woff') format('woff'),
  url('/fonts/openSans/openSans-regular.ttf') format('truetype'),
  url('/fonts/openSans/openSans-regular.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Yeseva One';
  src: url('/fonts/yesevaOne/yesevaOne-regular.eot');
  src: url('/fonts/yesevaOne/yesevaOne-regular.eot?iefix') format('eot'),
  url('/fonts/yesevaOne/yesevaOne-regular.woff') format('woff'),
  url('/fonts/yesevaOne/yesevaOne-regular.ttf') format('truetype'),
  url('/fonts/yesevaOne/yesevaOne-regular.svg#webfont') format('svg');
}