//Colors

$WHITE: #fff;
$BLACK: #000;
$ANZAC: #dab33e;
$DUSTYGRAY: #949393;


//Fonts

$OPENSANS: 'Open Sans', sans-serif;
$YESEVAONE: 'Yeseva One', cursive;
$LATO: 'Lato', sans-serif;
$GENTIUM: 'Gentium Book Basic', serif;
