//Colors

$WHITE: #fff;
$IRON: #dde0df;
$DUSTYGRAY: #949393;
$SCORPION: #595959;
$TUNDORA: #4c4c4c;
$BLACK: #000;
$ANZAC: #dab33e;
$BUDDHAGOLD: #cc9900;



//Fonts

$OPENSANS: 'Open Sans', sans-serif;
$YESEVAONE: 'Yeseva One', cursive;
$LATO: 'Lato', sans-serif;
$GENTIUM: 'Gentium Book Basic', serif;
