<div class="container contacts-wrap">
    <h3 class="contacts-wrap__title title title_margin">Contacts</h3>
    <div class="contacts-info">
        <div class="phone">
            <span class="phone__text phone__text_margin">Tel:</span>
            <a class="phone__link phone__link_color" href="tel:+15462542563" target="_blank">+1 546-254-2563</a></div>
        <div class="email">
            <span class="email__text email__text_margin">Email:</span>
            <a class="email__link email__link_color" href="mailto:olaf.restaurant@gmail.com" target="_blank">olaf.restaurant@gmail.com</a>
        </div>
        <div class="social-networks social-networks_align">
            <a class="social-networks-link" href="https://www.facebook.com/" target="_blank">
                <i class="social-networks-link__icon social-networks-link__icon_bg fa fa-facebook"
                   aria-hidden="true"></i>
            </a>
            <a class="social-networks-link" href="https://twitter.com/" target="_blank">
                <i class="social-networks-link__icon social-networks-link__icon_bg fa fa-twitter"
                   aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="map">
        <img class="map__img" src="/img/location-map.jpg" alt="Map">
        <div class="address">
            <p class="address__text">454/52 Frederic Chopin St.</p>
            <h4 class="address__title">Opening hours</h4>
            <p class="address__text address__text_color">We wait for you everyday... Except one</p>
            <div class="days">
                <span class="days__text days__text_color">su</span>
                <span class="days__text">mo</span>
                <span class="days__text">tu</span>
                <span class="days__text">we</span>
                <span class="days__text">th</span>
                <span class="days__text">fr</span>
                <span class="days__text">sa</span>
            </div>
            <div class="hours">
                <div class="hours-open">
                    <span class="hours-open__text">Open</span>
                    <p class="hours-info"><span class="hours-info__text">4</span>pm - <span
                            class="hours-info__text">23</span>pm</p>
                </div>
                <span class="hours__text">Closed</span>
            </div>
        </div>
    </div>
</div>