<div class="container footer-wrap">
    <div class="footer-info">
        <nav class="footer-navigation">
            <div class="navigation-item navigation-item_margin">
                <a id="home-link" class="navigation-item__link" href="#">Home</a>
            </div>
            <div class="navigation-item navigation-item_margin">
                <a id="menu-link" class="navigation-item__link" href="#">Menu</a>
            </div>
            <div class="navigation-item navigation-item_margin">
                <a id="reservation-link" class="navigation-item__link" href="#">Reservation</a>
            </div>
            <div class="navigation-item navigation-item_margin">
                <a id="gallery-link" class="navigation-item__link" href="#">Gallery</a>
            </div>
            <div class="navigation-item navigation-item_margin">
                <a id="contacts-link" class="navigation-item__link" href="#">Contacts</a>
            </div>
        </nav>
        <div class="footer-contacts">
            <div class="phone">
                <span class="phone__text">Tel:</span>
                <a class="phone__link" href="tel:+15462542563" target="_blank">+1 546-254-2563</a></div>
            <div class="email">
                <span class="email__text">Email:</span>
                <a class="email__link" href="mailto:olaf.restaurant@gmail.com" target="_blank">olaf.restaurant@gmail.com</a>
            </div>
            <div class="social-networks">
                <a class="social-networks-link" href="https://www.facebook.com/" target="_blank">
                    <i class="social-networks-link__icon fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a class="social-networks-link" href="https://twitter.com/" target="_blank">
                    <i class="social-networks-link__icon fa fa-twitter" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p class="copyright__text">&copy; 2017 Olaf By Baitasova</p>
    </div>
</div>