<a class="header-link" href="#">
    <img class="header-link__logo" src="#" alt="Logo">
</a>
<nav class="footer-nav">
    <a class="footer-nav__item" href="#">menu</a>
    <a class="footer-nav__item" href="#">reservations</a>
    <a class="footer-nav__item" href="#">gallery</a>
    <a class="footer-nav__item" href="#">about us</a>
    <a class="footer-nav__item" href="#">Twitter</a>
</nav>
<form class="search" action="#" method="get">
    <button class="search__icon" type="button"></button>
    <input class="search__input" type="text" name="search" placeholder="Search">
</form>
