<div class="container header-wrap">
    <div class="main-header">
        <a id="logo-link" class="main-header__logo" href="/#">olaf</a>
        <i class="main-header__icon-menu fa fa-bars" aria-hidden="true"></i>
    </div>
    <nav class="navigation">
        <i class="navigation__icon-cancel fa fa-times" aria-hidden="true"></i>
        <div class="navigation-item">
            <a id="home-link" class="navigation-item__link" href="/#">Home</a>
        </div>
        <div class="navigation-item">
            <a class="navigation-item__link">Menu</a>
            <nav class="inside-menu">
                <span class="inside-menu__title">Menu</span>
                <a id="dishes-link" class="inside-menu__link" href="/#menu/dishes">Dishes</a>
                <a id="soups-link" class="inside-menu__link" href="/#menu/soups">Soups</a>
                <a id="salads-link" class="inside-menu__link" href="/#menu/salads">Salads</a>
                <a id="desserts-link" class="inside-menu__link" href="/#menu/desserts">Desserts</a>
                <a id="beverages-link" class="inside-menu__link" href="/#menu/beverages">Beverages</a>
            </nav>
        </div>
        <div class="navigation-item">
            <a id="reservation-link" class="navigation-item__link" href="/#reservation">Reservation</a>
        </div>
        <div class="navigation-item">
            <a id="gallery-link" class="navigation-item__link" href="/#gallery">Gallery</a>
        </div>
        <div class="navigation-item">
            <a id="contacts-link" class="navigation-item__link" href="/#contacts">Contacts</a>
        </div>
    </nav>
    <form class="search" action="#" method="get">
        <input class="search__input" type="text" name="search" placeholder="Search">
        <button class="search-button" type="button">
            <i class="search-button__icon fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
</div>