<div class="container header-wrap">
    <div class="main-header">
        <a class="main-header__logo" href="#">olaf</a>
        <i class="main-header__icon-menu fa fa-bars" aria-hidden="true"></i>
    </div>
    <nav class="navigation">
        <i class="navigation__icon-cancel fa fa-times" aria-hidden="true"></i>
        <div class="navigation-item">
            <a class="navigation-item__link" href="#">home</a>
        </div>
        <div class="navigation-item">
            <a class="navigation-item__link" href="#">menu</a>
            <nav class="inside-menu">
                <span class="inside-menu__title">menu</span>
                <a class="inside-menu__link" href="#">dishes</a>
                <a class="inside-menu__link" href="#">soups</a>
                <a class="inside-menu__link" href="#">salads</a>
                <a class="inside-menu__link" href="#">desserts</a>
                <a class="inside-menu__link" href="#">beverages</a>
            </nav>
        </div>
        <div class="navigation-item">
            <a class="navigation-item__link" href="#">reservations</a>
        </div>
        <div class="navigation-item">
            <a class="navigation-item__link" href="#">gallery</a>
        </div>
        <div class="navigation-item">
            <a class="navigation-item__link" href="#">about us</a>
        </div>
        <div class="navigation-item">
            <a class="navigation-item__link" href="#">contacts</a>
        </div>
    </nav>
    <form class="search" action="#" method="get">
        <input class="search__input" type="text" name="search" placeholder="Search">
        <button class="search-button" type="button">
            <i class="search-button__icon fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
</div>