<div class="banner-slider">
    <div class="fade">
        <div class="banner-slider-item">
            <img class="banner-slider-item__img" src="/img/slider-food.jpg" alt="Ingredients of dishes">
        </div>
        <div class="banner-slider-item">
            <img class="banner-slider-item__img" src="/img/slider-food-2.jpg" alt="Ingredients of dishes">
        </div>
        <div class="banner-slider-item">
            <img class="banner-slider-item__img" src="/img/slider-food-3.jpg" alt="Ingredients of dishes">
        </div>
    </div>
    <div class="banner-info">
        <h1 class="banner-info__title">The right ingredients for the right food</h1>
        <div class="info-buttons">
            <a class="info-buttons__link" href="#">Book a table</a>
            <a class="info-buttons__link" href="#">See the menu</a>
        </div>
    </div>
</div>
