<section class="banner-slider">
    <div class="fade">
        <div class="banner-slider-item">
            <img class="banner-slider-item__img" src="/img/slider-food.jpg" alt="Ingredients of dishes">
        </div>
        <div class="banner-slider-item">
            <img class="banner-slider-item__img" src="/img/slider-food-2.jpg" alt="Ingredients of dishes">
        </div>
        <div class="banner-slider-item">
            <img class="banner-slider-item__img" src="/img/slider-food-3.jpg" alt="Ingredients of dishes">
        </div>
    </div>
    <div class="banner-info">
        <h1 class="banner-info__title">The right ingredients for the right food</h1>
        <div class="info-buttons">
            <a id="reservation-link" class="info-buttons__link" href="#">Book a table</a>
            <a id="menu-link" class="info-buttons__link" href="#">See the menu</a>
        </div>
    </div>
</section>
<section class="about">
    <div class="container about-wrap">
        <div class="about-info">
            <h3 class="about-info__title">Just the right food</h3>
            <p class="about-info__text">If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps
                our customers
                coming back for more. Perfect materials and freshly baked food, delicious Lambda cakes, muffins, and
                gourmet
                coffees make us hard to resist! Stop in today and check us out!</p>
            <img class="about-info__img" src="/img/cook.png" alt="The cook">
        </div>
        <img class="about-wrap__img" src="/img/dish.png" alt="The one dish">
    </div>
</section>
<section class="ingredients">
    <div class="container ingredients-wrap">
        <div class="ingredients-info">
            <h3 class="ingredients-info__title">Fine ingredients</h3>
            <p class="ingredients-info__text">If you’ve been to one of our restaurants, you’ve seen – and tasted – what
                keeps our customers coming back for more. Perfect materials and freshly baked food, delicious Lambda
                cakes,
                muffins, and gourmet coffees make us hard to resist! Stop in today and check us out!</p>
            <div class="ingredients-icons">
                <span class="ingredients-icons__img ingredients-icons__img_icon1"></span>
                <span class="ingredients-icons__img ingredients-icons__img_icon2"></span>
                <span class="ingredients-icons__img ingredients-icons__img_icon3"></span>
            </div>
        </div>
    </div>
</section>
<section class="feedback">
    <div class="container feedback-wrap">
        <div class="feedback-info">
            <h3 class="feedback-info__title">Guest Reviews</h3>
            <blockquote class="comment">
                <p class="comment__text">If you’ve been to one of our restaurants, you’ve seen – and tasted – what
                    keeps our customers coming back for more. Perfect materials and freshly baked food, delicious Lambda
                    cakes, muffins, and gourmet coffees make us hard to resist! Stop in today and check us out!</p>
            </blockquote>
            <span class="feedback-info__name">- food inc, New York</span>
        </div>
    </div>
</section>

