<div class="container reservation-wrap">
    <h3 class="reservation-wrap__title title title_margin">Reservation</h3>
    <div class="book-table">
        <div class="scheme">
            <span class="scheme__text">Click on the table you want to book</span>
            <div class="scheme-tables">
                <img class="scheme-tables__img" src="/img/map-restaurant.jpg" alt="Restaurant's map">
                <span id="table1" data-id="1" data-times="" class="scheme-tables__item vip-table"></span>
                <span id="table2" data-id="2" data-times="" class="scheme-tables__item vip-table"></span>
                <span id="table3" data-id="3" data-times="" class="scheme-tables__item vip-table"></span>
                <span id="table4" data-id="4" data-times="" class="scheme-tables__item vip-table"></span>
                <span id="table5" data-id="10" data-times="" class="scheme-tables__item horizontal-table"></span>
                <span id="table6" data-id="20" data-times="" class="scheme-tables__item horizontal-table"></span>
                <span id="table7" data-id="30" data-times="" class="scheme-tables__item horizontal-table"></span>
                <span id="table8" data-id="40" data-times="" class="scheme-tables__item horizontal-table"></span>
                <span id="table9" data-id="50" data-times="" class="scheme-tables__item vertical-table"></span>
                <span id="table10" data-id="60" data-times="" class="scheme-tables__item vertical-table"></span>
                <span id="table11" data-id="70" data-times="" class="scheme-tables__item vertical-table"></span>
                <span id="table12" data-id="80" data-times="" class="scheme-tables__item vertical-table"></span>
                <span id="table13" data-id="11" data-times="" class="scheme-tables__item square-table"></span>
                <span id="table14" data-id="12" data-times="" class="scheme-tables__item square-table"></span>
                <span id="table15" data-id="13" data-times="" class="scheme-tables__item square-table"></span>
                <span id="table16" data-id="21" data-times="" class="scheme-tables__item square-table"></span>
                <span id="table17" data-id="22" data-times="" class="scheme-tables__item square-table"></span>
                <span id="table18" data-id="23" data-times="" class="scheme-tables__item square-table"></span>
                <span id="table19" data-id="31" data-times="" class="scheme-tables__item square-table"></span>
                <span id="table20" data-id="32" data-times="" class="scheme-tables__item square-table"></span>
                <span id="table21" data-id="33" data-times="" class="scheme-tables__item square-table"></span>
            </div>
        </div>
        <form id="form-book" class="form-reservation" action="#">
            <span class="scheme__text scheme__text_before">Enter information about you for feedback</span>
            <span class="form-reservation__required">* Required</span>
            <label class="form-reservation__title" for="first-name">First name*</label>
            <input class="form-reservation__input" id="first-name" type="text" name="firstName"
                   placeholder="First name" required>
            <span id="valid-name" class="valid"></span>
            <label class="form-reservation__title" for="phone-number">Phone number*</label>
            <input class="form-reservation__input" id="phone-number" type="text" name="phoneNumber"
                   placeholder="123-456-7890" required>
            <span id="valid-phone" class="valid"></span>
            <label class="form-reservation__title" for="table-number">Table number*</label>
            <input class="form-reservation__input" id="table-number" type="text" name="tableNumber"
                   placeholder="number" readonly="readonly" required>
            <span id="valid-table-number" class="valid"></span>
            <div class="selects-time">
                <div class="select-item">
                    <span class="form-reservation__title select-item-title">From:*</span>
                    <div class="form-select form-select-from">
                        <span class="form-select__text form-select__text-from">none</span>
                        <i class="form-select__icon fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <ul class="form-select-list form-select-list-from">
                        <li class="form-select-list__item">4 pm</li>
                        <li class="form-select-list__item">5 pm</li>
                        <li class="form-select-list__item">6 pm</li>
                        <li class="form-select-list__item">7 pm</li>
                        <li class="form-select-list__item">8 pm</li>
                        <li class="form-select-list__item">9 pm</li>
                        <li class="form-select-list__item">10 pm</li>
                        <li class="form-select-list__item">11 pm</li>
                    </ul>
                </div>
                <div class="select-item">
                    <span class="form-reservation__title select-item-title">To:*</span>
                    <div class="form-select form-select-to">
                        <span class="form-select__text form-select__text-to">none</span>
                        <i class="form-select__icon fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <ul class="form-select-list form-select-list-to">
                        <li class="form-select-list__item">5 pm</li>
                        <li class="form-select-list__item">6 pm</li>
                        <li class="form-select-list__item">7 pm</li>
                        <li class="form-select-list__item">8 pm</li>
                        <li class="form-select-list__item">9 pm</li>
                        <li class="form-select-list__item">10 pm</li>
                        <li class="form-select-list__item">11 pm</li>
                    </ul>
                </div>
            </div>
            <button class="form-reservation__button" type="submit">Book a table</button>
            <p class="form-reservation__text">Thanks a lot! Your table was booked.</p>
        </form>

    </div>
</div>
